html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}

article {
    background: #fff;
    border: 3px solid #fc6;
    border-radius: 11px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    margin: 1.5em;
    text-align: center;
    width: 100%;
}

article section ul {
    display: box;
    display: -moz-box;
    display: -webkit-box;
    box-align: start;
    -moz-box-align: start;
    -webkit-box-align: start;
    box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    box-pack: start;
    -moz-box-pack: start;
    -webkit-box-pack: start;
    list-style: none;
    text-transform: uppercase;
    width: 100%;
}

article section ul li {
    box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    margin: 0px;
    width: 50%;
}

body {
  background: #369;
  color: #036;
  font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, FreeSans, sans-serif;
  margin: 0 1.04166667%;
}

fieldset {
    background: #fff;
    border: 3px solid #fc6;
    border-radius: 11px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    margin: 1.5em;
    text-align: center;
}

fieldset legend {
    background: #369;
    border: 3px solid #fc6;
    border-radius: 11px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    color: #fc6;
    margin: 0.5em;
    padding: 1em;
    text-align: center;
    width: 75%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Georgia, serif;
}

ol li {
    line-height: 1.5em;
    list-style: none;
    margin-bottom: 1.5em;
}

ul li {
    line-height: 1.5em;
    list-style: none;
    margin-bottom: 1.5em;
}

.button {
    border: 3px solid #369;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 0.5em 1.5em 0.5em 1.5em;
}

.hbox {
    display: box;
    display: -moz-box;
    display: -webkit-box;
    box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    box-pack: start;
    -moz-box-pack: start;
    -webkit-box-pack: start;
    list-style: none;
    text-transform: uppercase;
}

.hbox li {
    box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    margin: 0px;
    padding: 0px 3.75% 0px 3.75%;
}


.hidden {
    display: none;
}

.mainBody {
    margin: 1.5em;
}

.noBorder {
    border: 0px;
}

@media (max-width: 600px) {
    fieldset {
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        text-align: center;   
    }
    
    fieldset legend {
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;  
    }
}
