<!DOCTYPE html>
<html>
    <head>
        <title>NFL Stats</title>
        <link rel="stylesheet" type="text/css" href="./scores.css" media="screen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">      
    </head>
    <body>
        <section>
            <form>
                <fieldset id="spread" class="spreadForm">
                    <ul>
                        <li>
                            <select id="selectSpread"></select>
                        </li>
                        <li>
                            <label id="selectButton" class="selectButton">Select</label>
                        </li>
                    </ul>
                </fieldset>
            </form>
        </section>
    
        <section id="gameScores" class="mainBody">
        </section>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script type="text/javascript" src="./scripts/jsrender/jsrender.js"></script>
        <script text="text/javascript" src="./scripts/pool.js"></script>
        <!-- jsRender templates -->
        <script id="tmpl_scoreboard" type="text/x-jsrender" data-jsv-tmpl="tmpl_scoreboard">
            <ul>
                {{for scores tmpl='#tmpl_scorebox'/}}
            </ul>
        </script>
        <script id="tmpl_scorebox" type="text/x-jsrender" data-jsv-tmpl="tmpl_scorebox">
            <li>
                <article class="scorebox white">
                    <section>
                        <ul class="hbox">
                            <li>{{:awayName}}</li>
                            <li>{{:awayScore}}</li>
                        </ul>
                        <ul class="hbox">
                            <li>{{:homeName}}</li>
                            <li>{{:homeScore}}</li>
                        </ul>
                        <ul class="gameClock">
                            {{if gameStatus === 'Final'}}
                                <li>{{:gameStatus}}</li>
                            {{else gameStatus === 'Final Overtime'}}
                                <li>{{:gameStatus}}</li>
                            {{else}}
                                {{if gameStatus === 'Pregame'}}
                                    <li>{{:gameStartDay}} {{:gameStartTime}}pm EST</li>
                                {{else}}
                                    <li>QT {{:gameStatus}}</li>
                                    <li>{{:gameClock}}</li>
                                {{/if}}
                            {{/if}}
                        </ul>
                    </section>
                </article>
            </li>
        </script>
        <script id="tmpl_listoption" type="text/x-jsrender" data-jsv-tmpl="tmpl_listoption">
            <option value="{{:value}}">{{:name}}</option>
        </script>
    </body>
</html>