<!DOCTYPE html>
<html>
    <head>
        <title>NFL Stats</title>
        <link rel="stylesheet" type="text/css" href="./layout.css" media="screen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">      
    </head>
    <body>
        <section id="gameScores" class="mainBody">
        </section>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script type="text/javascript" src="./scripts/jsrender/jsrender.js"></script>
        <script text="text/javascript" src="./scripts/pool.js"></script>
        <!-- jsRender templates -->
        <script id="scoreboard" type="text/x-jsrender" data-jsv-tmpl="scoreboard">
            <ul>
                {{for scores tmpl='#scoreBox'/}}
            </ul>
        </script>
        <script id="scoreBox" type="text/x-jsrender" data-jsv-tmpl="scoreBox">
            <li>
                <article>
                    <section>
                        <ul>
                            <li>{{:awayName}}</li>
                            <li>{{:awayScore}}</li>
                        </ul>
                        <ul>
                            <li>{{:homeName}}</li>
                            <li>{{:homeScore}}</li>
                        </ul>
                        <ul id="gameTime" class="gameTime">
                            {{if gameClock}}
                                <li>QT {{:gameQuarter}}</li>
                                <li>{{:gameClock}}</li>
                            {{else}}
                                <li>{{:gameQuarter}}</li>
                            {{/if}}
                        </ul>
                    </section>
                </article>
            </li>
        </script>
    </body>
</html>